<div *ngIf="isAuthenticated">
  <h1 class="mat-title">lista przesyłek</h1>
  <div class="">
  <mat-form-field class="filter">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="wyszukaj przesyłkę"
    />
  </mat-form-field>
</div>
  <button
    *ngIf="selection.hasValue()"
    mat-button
    class="delete-button"
    (click)="deleteSelected()"
    matTooltip="usuń wybrane"
    matTooltipPosition="above"
    >
    <mat-icon>delete</mat-icon>
    usuń
  </button>
  <button
    *ngIf="selection.hasValue() && isAdmin"
    mat-button
    class="settle-button"
    (click)="settleSelected()"
    matTooltip="rozlicz wybrane"
    matTooltipPosition="above"
  >
    <mat-icon>check_circle</mat-icon>
    rozlicz
  </button>
  <button 
    mat-raised-button 
    color="accent" 
    class="create-button"
    routerLink="create">
    
    <i class="material-icons">
      add_circle
    </i>
    utwórz nową przesyłkę
  </button>


  <div class="list-container">
    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="select" class="mat-col-checkbox">
        <mat-header-cell *matHeaderCellDef>
          <mat-checkbox
            (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          ></mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
          <mat-checkbox
            (change)="$event ? selection.toggle(element) : null"
            [checked]="selection.isSelected(element)"
          ></mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rozliczone">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          rozliczone
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <mat-checkbox
          disabled="true"
          [checked]= element.settled
        ></mat-checkbox>
          
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="consignmentId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          id przesyłki
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.consignmentId
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="login">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          użytkownik
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.login }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="shipperName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          nadawca
        </mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.shipperName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="receiverName">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          odbiorca
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.receiverName }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          status
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.trackAndTraceInfo[0].status }}
        </mat-cell>
      </ng-container>

      

      <ng-container matColumnDef="shipmentDateTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          data nadania
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.shipmentDateTime }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button
            class="edit-button"
            mat-raised-button
            color="primary"
            matTooltip="utwórz podobną"
            matTooltipPosition="above"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>create</mat-icon>
          </button>
          <button
            class="edit-button"
            mat-raised-button
            color="primary"
            matTooltip="wydrukuj etykietę"
            matTooltipPosition="above"
            (click)="
              onLabelPrint(element.consignmentId); $event.stopPropagation()
            "
          >
            <mat-icon>print</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        matRipple
        class="element-row"
        [cdkDetailRow]="row"
        [cdkDetailRowTpl]="tpl"
      >
      </mat-row>
    </mat-table>

    <mat-progress-spinner
      color="primary"
      mode="indeterminate"
      *ngIf="isLoading"
    >
    </mat-progress-spinner>

    <mat-toolbar class="toolbar">
      <mat-toolbar-row>
        
        <mat-paginator
          pageSize="10"
          [pageSizeOptions]="[5, 10, 100]"
          (page)="pageEvent = handlePage($event)"
        ></mat-paginator>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>



  <ng-template #tpl let-element>
    <div class="mat-row detail-row">
      <mat-grid-list cols="{{ detailColumns }}">
        <mat-grid-tile >
          <div class="details-diemnsions">
            <h5>wymiary:</h5><br>
            <span>wysokość: {{ element.height }}cm</span><br>
            <span>szerokość: {{ element.width }}cm</span><br>
            <span>długość {{ element.length }}cm</span>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>nadawca {{ element.shipperName }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <p>odbiorca {{ element.receiverName }}</p>
        </mat-grid-tile>
        <mat-grid-tile>
          <ng-container *ngFor="let status of element.trackAndTraceInfo">
            <div>
              <p>{{ status.description }}</p>
              <p>{{ status.timestamp }}</p>
            </div>
          </ng-container>
        </mat-grid-tile>
      </mat-grid-list>
      
      <button
      mat-raised-button
      color="accent" 
        matTooltip="szczegóły przesyłki"
        (click)="showDetails(element.consignmentId)"
      >
        szczegóły przesyłki
      </button>
    </div>
  </ng-template>
</div>
