<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid">
    <div  fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="50%"  *ngFor="let user of users">
      <mat-card class="mat-elevation-z4" >
        
        <mat-card-header style="display: grid;justify-content: center;">
          
          <img mat-card-image src="{{imgUrl + user.login + '.png'}}"  (error)="onImgError($event)">
        </mat-card-header>
        <mat-card-title style="text-align: center;">{{user.login}}</mat-card-title>
        <mat-card-content>
          <button mat-button>przesylki: {{user.consignments.length}}</button>
          <span *ngIf=user.phone style="margin: auto; margin-right: 0;">  tel: {{user.phone}}</span>  
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Zmień cenę</button>
          <button
          [class.selected]="user === selectedUser"
          class="delete-button"
          mat-button
          matTooltip="usuń usera"
          matTooltipPosition="above"
          (click)="confirmDialog(user)"
          >
          <mat-icon>delete</mat-icon>
          usuń
        </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
