<!-- <h2>Użytkownicy</h2>
<ul class="heroes">
  <li *ngFor="let user of users">
    <button [class.selected]="user === selectedUser" type="button" (click)="onSelect(user)">
        <img src="{{imgUrl + user.login + '.png'}}" alt="">
      <span class="name">{{user.login}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedUser">

  <h2>{{selectedUser.login | uppercase}} Details</h2>
  <div>ID: {{selectedUser._id}}</div>
  <div>
    <label for="user-name">User name: </label>
    <input id="user-name" [(ngModel)]="selectedUser.login" placeholder="name">
  </div>
  <div>Ilosc przesylek: {{selectedUser.consignments.length}}</div>
  <div class="pass">
  <button class= "pass" mat-raised-button color="accent" disabled >
        zmień hasło
   </button>
</div>
</div> -->

<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="15px grid">
    <div  fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.md="50%"  *ngFor="let user of users">
      <mat-card class="mat-elevation-z4" >
        
        <mat-card-header style="display: grid;justify-content: center;">
          
          <img mat-card-image src="{{imgUrl + user.login + '.png'}}"  (error)="onImgError($event)">
        </mat-card-header>
        <mat-card-title style="text-align: center;">{{user.login}}</mat-card-title>
        <mat-card-content>
          <p>
            przesylki: {{user.consignments.length}}
          <span *ngIf=user.phone style="float: right;">  tel: {{user.phone}}</span>  
        </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Zmień cene</button>
          <button mat-button>Wyświetl przesyłki</button>
          <button
          [class.selected]="user === selectedUser"
          class="delete-button"
          mat-button
          matTooltip="usuń usera"
          matTooltipPosition="above"
          (click)="confirmDialog(user)"
          >
          <mat-icon>delete</mat-icon>
          usuń
        </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
